<a href="https://colab.research.google.com/github/rajuiit/OOP-Python-Fall-2020/blob/master/Week_3_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#built-in functions

print("Hi, I am semi-colon. Do you miss me?")
print("Let me know if you miss me or not. ")
s=input()

a=10
b=21
print(max(a,b))
print(min(a,b))

c=10.4
d=int(c)
print(d)

e="python"
print(type(e))

Hi, I am semi-colon. Do you miss me?
Let me know if you miss me or not.
Hello I am your assistant. What do you want?
21
10
10
<class 'str'>

In [ ]:
#user defined function
def add(a, b):
    c=a+b
    return c
    
a=int(input("Enter a number: "))
b=int(input("Enter a number: "))
d=add(a,b)
print("The sum is", d)

Enter a number: 3
Enter a number: 5
The sum is 8

In [ ]:
#function with multiple parameters

def divisor(x,y,m):
    if x%m==0 and y%m==0:
        print("%d & %d are divisible by %d"%(x,y,m))
    elif x%m==0:
        print("only %d is divisible by %d"%(x,m))
    elif y%m==0:
        print("only %d is divisible by %d"%(y,m))
    else:
        print("none of %d & %d is divisible by %d"%(x,y,d))

divisor(10,20,5)
divisor(12,20,5)
divisor(10,22,5)
divisor(2,5,3)

10 & 20 are divisible by 5
only 20 is divisible by 5
only 10 is divisible by 5
none of 2 & 5 is divisible by 30

In [ ]:
#function without parameter
def summation():
    b=input()
    c=input()
    a=int(b)+int(c)
    return a

b=summation()
print(b)

10
3
13

In [ ]:
#function with default parameter value

def check(a=0):
    if a==0:
        print("Zero")
    elif a>0:
        print("Positive")
    else:
        print("Negative")

check()     #without parameter
check(-4)   #with parameter

Zero
Negative

In [ ]:
#local scope

def local_scope():
    x=7
    print(x)

local_scope()
print(x)

7

NameError: ignored

In [ ]:
#local scope

def local_scope():
    x=7
    return x

a=local_scope()
print(a)
print(x)

7

NameError: ignored

In [ ]:
#global scope

x=10

def global_scope():
    print(x)

print(x)
global_scope()

10
10

In [ ]:
#global scope

def global_scope():
    global x
    x=10

global_scope()
print(x)

10

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [3]:
#python standard library
#csv module

import csv
with open('gdrive/My Drive/Colab Notebooks/OOPII - FAll-2020/test.csv', newline='') as csvfile:
    tmp = csv.reader(csvfile, delimiter=' ', quotechar='|')
    for row in tmp:
        print(', '.join(row))

Name,Popularity(out, of, 10)
Python,9
C,6
C++,8
Java,7
Prolog,3

In [7]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (1.1.2)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.6/dist-packages (from pandas) (1.18.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [28]:
data = pd.read_csv('gdrive/My Drive/Colab Notebooks/OOPII - FAll-2020/test.csv')

In [15]:
data.head()

     Name  Popularity(out of 10)
0  Python                      9
1       C                      6
2     C++                      8
3    Java                      7
4  Prolog                      3

In [26]:
data.tail(100)

     Name  Popularity(out of 10)
0  Python                      9
1       C                      6
2     C++                      8
3    Java                      7
4  Prolog                      3

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Name                   5 non-null      object
 1   Popularity(out of 10)  5 non-null      int64
dtypes: int64(1), object(1)
memory usage: 208.0+ bytes

In [13]:
data.shape

(5, 2)

In [30]:
data.isnull().sum()

Name                     0
Popularity(out of 10)    0
dtype: int64

In [32]:
#python standard library
#math module

import math

print(math.pi)          #value of pi

x=9.2
print(math.ceil(x))     #round to the smallest integer not less than x
print(math.floor(x))    #rount to the largest integer not greater than x

print(math.sin(78))     #trigonometric sine of x (x in radians)

print(math.pow(2,3))    #2 to the power 3

print(math.sqrt(16))    #square root of 16

3.141592653589793
10
9
0.5139784559875352
8.0
4.0